@model IEnumerable<Movie>

    <h1>Search results:</h1>
    <p></p>

    @foreach (Movie m in Model)
    {
        <div style="border: solid 2px black">
            <h4>Title: @m.Title</h4>
            <p>Movie Id: @m.Id</p>
            <p>Genre: @m.Genre</p>
            <p>Runtime: @m.Runtime</p>
            <p>Release Year: @m.Year</p>
            <a asp-action="Details" asp-controller="Home" asp-route-id="@m.Id"><p>Details</p></a>
            <a asp-action="Delete" asp-controller="Home" asp-route-id="@m.Id"><p>Delete</p></a>
            <a asp-action="Edit" asp-controller="Home" asp-route-id="@m.Id"><p>Edit</p></a>
            <br />
        </div>
    }